/*
    CSI 3125 Project
    Student Name: Victor Li
    Student Number: 300146133
    Institution: the University of Ottawa

    Reference:
    1. https://www.rayark.com/g/cytus2/
    2. https://mikuexpo.com/
    3. https://zenless.hoyoverse.com/en-us
*/

#event_name{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 200px;
    margin-top: 200px;
}
#loading_bar{
    margin: auto;
    width: 50%;
}