/*
    CSI 3125 Project
    Student Name: Victor Li
    Student Number: 300146133
    Institution: the University of Ottawa

    Reference:
    1. https://www.rayark.com/g/cytus2/
    2. https://mikuexpo.com/
    3. https://zenless.hoyoverse.com/en-us
*/

:root {
    --white: #f6f4ec;
    --yellow: #ffd98c;
}

body {
    background:url(../images/main_bg.png);
	background-repeat:repeat;
}

.container {
    display: flex;
}

#navbar{
    height: 10%;
}

#navbar_links{
    margin-right: 30%;
}
#navbar_music{
    margin-left: 30%;
}

.nav-item {
    position:relative;
    font-weight: 500;
}
#navbar-brand{
    margin-right: 0%;
}

.nav-link {
    color: var(--white);
}
.nav-link:hover{
    color: var(--yellow);
}

#logo{
    max-width: 30%;
    height: auto;
    margin: left 0;
}

#music_logo{
    max-width: 80%;
}
#main{
    position:relative;
    margin-top: 15%;
}

#title_group{
    position:relative;
}

#subtitle_group{
    position:relative;
    text-align: right;
}

#event_info_group, #book_info_group{
    position:relative;
    margin-top: 10%;
}

#description{
    max-width: 75%;
    margin-bottom: 10%;
}

#bookBtn{
    position:relative;
    margin-left: 75%;
    transform:rotate(10deg);
}

#bookBtn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#artist_title_group{
    position:relative;
    top:20%;
    margin-bottom: 10%;
}

#artist1_group, #artist2_group, #artist3_group{
    display: flex;
    position: relative;
}

#char1_group, #char2_group, #char3_group{
    align-self: flex-end
}

#progress1, #progress3{
    position: relative;
    float: right;
    margin-right: 30%;
    width: 300px;
    margin-bottom: 10%;
}


#progress2{
    position: relative;
    float: left;
    margin-left: 28%;
    width: 300px;
    margin-bottom: 10%;
}
#book_description{
    max-width: 75%;
    margin-bottom: 5%;
}
#bookBtn2, #bookBtn3{
    position:relative;
    display: table;
    margin: 0 auto;
    margin-bottom: 10%;
}


#char_description_group{
    max-width: 60%;
}

#char_img{
    max-width: 100%;
}

#char_description{
    margin-bottom: 5%;
}

#cancel_btn{
    margin-right: 20%;
}
#confirm_btn{
    margin-left: 20%;
}

#return_btn{
    margin-right: 5%;
}

#submit_btn{
    margin-left: 5%;
}


.footer-row-middle {
    flex-direction: column;
}
.footer-row-middle-h2{
    margin-bottom: 5%;
}
#footer-row-middle-left {
    margin-bottom: 5%;
    margin-top: 10%;
}
#footer-row-middle-right{
    margin-bottom: 5%;
    margin-top: 10%;
    position:relative;
    text-align: left;
    margin-left: 30%;
}
#footer-container {
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 3vh;
}

#footer-row-bottom {
    flex-direction: row;
    justify-content:center;
}

#footer-row-bottom-right {
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#character_page{
    display: none;
}

@media (max-width: 600px) {
    #navbar{
        height: 20%;
    }
    #homepage{
        margin-top: 40%;
    }
    #char_description_group{
        max-width: 100%;
    }
    #character_title{
        margin-top: 20%;
    }
    #navbar_links{
        margin-right: 20%;
    }
    #navbar_music{
        margin-left: 10%;
    }
    #navbar_logo{
        max-width: 20%;
    }

    #paff, #neko, #xenon{
        max-width: 90%;
    }
    #return_btn{
        margin-right: 0%;
    }
    #submit_btn{
        margin-left: 0%;
    }
}